<h1>Twitter</h1>

<ul>
  <% @tweets.each do |f|%>
  <li>
    <strong><%= f.handle %></strong>
    <p><%= f.content %></p>
    <%= f.created_at.localtime.strftime(" %I:%M %P %b, %-d, %Y") %>
    <br>
    <br>
    <%= link_to "More Info", tweet_path(f)%>
  </li>
  <% end %>

</ul>
